* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;

  --bg-primary: #EFF1FF; 
  --bg-secondary: #8E9AAF;
  --bg-logo: #CBC0D3;
  --bg-subtitle: #FEEAFA;

  --fc-heading: #FFFFFF;
  --fc-texting: #23053A;
  --fc-subtitle: #4A4E69;

  font-size: 62.5%;
  --fs-heading: 4rem;
  --fs-texting: 2rem;
}

body {
  background-color: var(--bg-primary);
}

.page {
  max-width: 38.4rem;
  margin: 0 auto;
}

body::before {
  content: '';
  width: 100%;
  height: 30rem;

  position: absolute;
  z-index: -1;
  background-color: var(--bg-secondary);
}

.logo {
  text-align: center;
  padding-top: 3.2rem;
}

h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--fc-heading);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  padding: 7px 8.6rem;
  text-align: center;
}

main {
  display: grid;
  gap: 3.2rem;
}

.wrapper {
  width: 100%;
  height: 5rem;

  margin-top: 3.2rem;
  
  background-color: var(--bg-logo);
}

.wrapper-main {
  max-width: 32rem;
  padding-top: 3rem;
  padding-bottom: 6rem;

  margin: 0 auto;
}

.wrapper-main p {
  font-family: var(--ff-texting);
  font-size: var(--fs-texting);
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;

  text-align: center;

  margin-bottom: 3rem;
}

.card {
  position: relative;
}

.card span {
  position: absolute;
  top: 1.7rem;
  right: 3rem;

  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: var(--fs-texting);
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--fc-subtitle);

  background-color: var(--bg-subtitle);
  border-radius: 2rem;

  padding: 0 2.4rem;
  height: 3.4rem;

  display: inline-flex;
  align-items: center;
}